# Project git ignore file
#
# Notice:
# You should specify environment ignored files at global ignore e.g.
#  * `*~` (vim swap file)
#  *`.DS_Store` (Mac OS Store File)
#  * `Thumb.db` (Windows Store File)
#  * etc.
#

# project general
/bin/
/vendor/
/coverage/

# for develop
/config.yaml
/tmp

# for Ruby
.bundle/
*.gem
